body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-primary {
    background-color: #0d6efd !important;
}

.bg-dark {
    background-color: #212529 !important;
}

.btn-primary {
    padding-top: 10px;
    padding-bottom: 10px;
}

html,
body {
    height: 100%;
}